# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Project specific
**/__pycache__/

# Credentials
serviceAccountKey.json
*.key
*.pem